body{
    background-color: #000000;
    background-image: radial-gradient(#212121 20%, transparent 20%), radial-gradient(#212121 20%, transparent 20%);
    background-position: 0 0, 15px 15px;
    background-size: 5px 5px;
    color: white;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-family: Lexend,sans-serif;
}
body:before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    display: block;
    height: 4px;
    width: 100%;
    background-image: linear-gradient(to right,var(--tw-gradient-stops));
    --tw-gradient-from: #f59401 var(--tw-gradient-from-position);
    --tw-gradient-to: #f5940100 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    --tw-gradient-to: #eb126600 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from),#eb1266 var(--tw-gradient-via-position),var(--tw-gradient-to);
    --tw-gradient-to: #8135e300 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from),#8135e3 var(--tw-gradient-via-position),var(--tw-gradient-to);
    content: var(--tw-content);
    --tw-gradient-to: #0094ff var(--tw-gradient-to-position)
}


